# requirements 
gmsh-utils @ git+https://hmc-heerema@dev.azure.com/hmc-heerema/HES%20Internal/_git/gmsh-utils@main 
hivemind @ git+https://github.com/eelcovanvliet/hivemind.git@master 
OrcFxAPI 
pytest 
pytest-cov 
-e . 
